/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/rubik-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
  url('../fonts/rubik-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
  url('../fonts/rubik-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
  url('../fonts/rubik-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/rubik-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
.site-header {
  padding: 18px;
  background-color: #fff;
}

.wrapper{
  display: flex;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .site-logo-link{
  transition: transform 0.5s ease;
}
.site-logo-link {
  display: block;
  margin-right: 35px;
}
.site-logo-img {
  display: block;

}
.site-logo-link:hover{
  transform: scale(1.1);

}
.site-menu {
  width: 749px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: auto;
}
.site-menu-item:hover .site-menu-link{
  opacity: 1;
  border-bottom: 1px solid black;
}
.site-menu .active{
  opacity: 1;
  border-bottom: 1px solid black;
}
.site-menu-item:not(:last-child) {
  margin-right: 40px;
}
.site-menu-link {
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
}
.site-top-network {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-left: auto;
}
.social-wrapper {
  display: flex;
  align-items: center;
}
.tme-img {
  display: block;
}
.site-top-tme {
  display: block;
  text-decoration: none;
  color:  #000000;
  opacity: 0.5;
}
.site-top-button {
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.search-box-link {
  padding: 6px 14px;
  border: 2px solid  #00D36D;
  border-radius: 5px;
  text-decoration: none;
  color: #00D36D;
}
.site-main {
  background: #E5E5E5;
}
.hero{
  padding-top: 70px;
  text-align: center;
}
.hero-heading{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
}
.filtr-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  width: 882px;
  margin-bottom: 30px;
}
.filtr-menu-item:not(:last-child) {
  margin-right: 10px;

}
.filtr-menu-item{
  margin-bottom: 18px;
}

.filtr-menu-item:hover .filtr-menu-link{
  background-color: #00D36D;
  color: white;
}
.filtr-menu-item .active{
  background-color: #00D36D;
  color: white;
}
.filtr-menu-link {
  text-decoration: none;
  color: black;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
}
.input-wrapper{
  display: flex;
  align-items: center;
  max-width: 321px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.give{
  width: 102px;
  order: 1;
  text-align: center;
}
.get{
  width: 102px;
  text-align: center;
}
.site-span{
  padding: 3px;
  position: relative;
  display: flex;
  align-items: center;
  width: 58px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #E4E6E9;
  border-radius: 12px;

}
.site-span::before{
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background: #00D36D;
  border-radius: 50%;

}
.span-give{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.span-get{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.input-radio-give{
  transition: color 0.3s ease;
}
.input-radio-get{
  transition: color 0.3s ease;
}
.site-span::before{
  transition: margin  0.5s ease;
}
.input-radio-give:checked ~ .site-span .span-give{
  z-index: -1;
}
.input-radio-get:checked ~ .site-span .span-get{
  z-index: -1;
}
.input-radio-give:checked ~ .site-span::before{
  margin-left: 34px;
}
.input-radio-give:checked ~ .give,
.input-radio-get:checked ~ .get{
  color: #00D36D;

}
.buy-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 40px;
}
.buy-menu-item:not(:last-child) {
  margin-right: 20px;
}
.buy-menu-link {
  display: block;
  width: 218px;
  padding: 20px 15px;
  background-color: white;
  border-radius: 8px;
  text-decoration: none;

}
.link-percent {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 4px;
}
.link-text-top {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  opacity: 0.4;
  margin-bottom: 28px;
}
.link-heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgb(3, 3, 3, 0.5);
  text-align: center;
}
.link-heading::before{
  display: block;
  content: "";
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
.video::before{
  background-image: url("../img/video.svg");
}
.burger::before{
  background-image: url("../img/burger.svg");
}
.texno::before{
  background-image: url("../img/texnopark.svg");
}
.bork::before{
  background-image: url("../img/bork.svg");
}
.evroset::before{
  background-image: url("../img/evroset.svg");
}
.buy-link{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  padding: 10px 20px;
  background-color:  #00D36D;
  border-radius: 8px;
  color: white;
}
.section-two{
  padding-top: 120px;
  text-align: center;
}
.heading-electronic{
  margin: 0;
  padding: 0;
  width: 715px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.electronic-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 40px;
}
.electronic-menu-item{
  width: 377px;
}
.electronic-menu-item:not(:last-child) {
  margin-right: 20px;
}
.electronic-img{
  margin-bottom: 15px;
  display: block;
}
.electronic-menu-link {
  display: block;
  text-decoration: none;
}
.electronic-wrapper{
  display: flex;
  align-items: center;
}
.text-box{
  text-align: left;
}
.electronic-wrapper::before {
  width: 50px;
  height: 50px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  margin-right: 15px;
}
.texno::before{
  background-image: url("../img/texno.png");
}
.bitmap::before{
  background-image: url("../img/evro.png");
}
.card::before{
  background-image: url("../img/video.png");
}
.electronic-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
}
.electronic-heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}
.section-thre{
  padding-top: 120px;
  padding-bottom: 160px;
}
.discount-menu{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 680px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 19px;
  background-color: #fff;
  border-radius: 79px;
  margin-left: auto;
  margin-right: auto;
}
.discount-menu::after{
  position: absolute;
  content: "";
  display: block;
  width: 300px;
  height: 20px;
  top: 100%;
  background-color: white;
  right: 28%;
  z-index: 0;
}
.discount-item{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.discount-item:not(:last-child){
  margin-right: 10px;
}
.discount-link{
  display: block;
}
.discount-img{
  display: block;
}
.discount-heading {
  position: relative;
  margin-bottom: 40px;
}

.heading-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 247px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 35px;
  border-radius: 0px 0px 30px 30px;
}
.discount-heading::before{
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 40px;
  background: #E5E5E5;
  top: 0;
  left: 413px;
  border-top-right-radius: 50%;
  z-index: 10;
}
.discount-heading::after{
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 40px;
  background: #E5E5E5;
  top: 0;
  right: 413px;
  border-top-left-radius: 50%;
  z-index: 10;
}
.discount-box {
  display: flex;
  align-items: center;
justify-content: center;
margin-bottom: 80px;
}
.discount-menu-two {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 420px;
  padding: 19px;
  background-color: #fff;
  border-radius: 79px;
  z-index: 50;
  }
  .margin-menu{
    margin-right: 40px;
  }
.discount-menu-two::after{
  position: absolute;
  content: "";
  display: block;
  width: 300px;
  height: 17px;
  background-color: white;
  top: 100%;
  left: 15%;
  z-index: -1;
}
.discount-box-two {
  position: absolute;
  width: 227px;
  height: 42px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 30px 30px;
}
.discount-box-two::before{
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 40px;
  background: #E5E5E5;
    top: 0;
  right: 227px;
  border-top-right-radius: 50%;
  z-index: 10;

}
.discount-box-two::after{
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 40px;
  background: #E5E5E5;
  top: 0;
  left: 227px;
  border-top-left-radius: 50%;
  z-index: 10;
}
.discount-heading-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.discount-menu-last{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 680px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 19px;
  background-color: #fff;
  border-radius: 79px;
  margin-left: auto;
  margin-right: auto;
}
.discount-menu-last::after{
  position: absolute;
  content: "";
  width: 327px;
  height: 15px;
  background-color: white;
  top: 100%;
  left: 26%;
}
.last-discount{
  position: relative;
width: 280px;
height: 34px;
background-color: #fff;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
border-radius: 0px 0px 30px 30px;
}
.last-discount::before{
  position: absolute;
  content: "";
  width: 50px;
  height: 40px;
  background: #E5E5E5;
    top: 0;
  right: -45px;
  border-top-left-radius: 30px;
  z-index: 10;
}
.last-discount::after{
  position: absolute;
  content: "";
  width: 50px;
  height: 40px;
  background: #E5E5E5;
    top: 0;
  left: -45px;
  border-top-right-radius: 30px;
  z-index: 10;
}
.discont-text-two{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.site-footer {

}
.footer-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  /* align-items: center; */
}
.footer-box {
  width: 245px;
}
.footer-strong {
  font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
color: #000000;

}
.footer-box-text {
  margin: 0;
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
opacity: 0.5;
margin-bottom: 56px;
}
.sber-bank-link {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 30px;
}
.sber-bank-logo {
  display: block;
}
.sber-text{
  margin: 0;
  padding: 0;
}
.footer-nav {
  width: 845px;
 margin-bottom: 30px;
}
.footer-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-menu-item {
margin-right: 20px;
}
.footer-menu-link {
  text-decoration: none;
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 40px;
color: #000000;
}
.footer-social-box {
  display: flex;
  align-items: center;
justify-content: space-between;
}
.download-section {
  display: flex;
  align-items: center;
}
.download-link {
  display: inline-block;
  vertical-align: baseline;
}
.download-link:not(:last-child){
  margin-right: 10px;
}
.download-img {
  display: block;
}
.social-network-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

}
.social-network-item:not(:last-child) {
margin-right: 10px;
}
.social-network-link {
  display: block;
}
.social-network-img {
display: block;
}
.last-text{
  width: 872px;
  margin: 0;
  padding: 0;
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;
opacity: 0.5;
margin-top: auto;
}